<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">
      Confirmation
    </ng-template>
    <ng-template pTemplate="subtitle">
     Résumé de la nouvelle partie à créer
    </ng-template>
    <ng-template pTemplate="content">
      <div class="p-field p-col-12">
        <p><b><u>Joueurs</u></b></p>
        <p-listbox [options]="newGameResume.players" optionLabel="name" [disabled]="true"></p-listbox>
        <p><b><u>Nombre de parties</u></b></p>
        <p>{{newGameResume.framesNumber}}</p>
      </div>

    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter flex">
        <p-button label="Précédent" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <p-button label="Créer la partie" (onClick)="complete()" icon="pi pi-angle-right" iconPos="right" styleClass="p-button-success"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
