<p-card subheader="Manche {{index}}">
  <ng-container *ngIf="players">
    <h3 *ngIf="dealer">Donneur : {{dealer.name}}</h3>
    <ng-container *ngIf="form">
      <form class="p-fluid" [formGroup]="form" (submit)="submit($event)">
        <h4>Sélection du donneur</h4>
        <div class="p-field">
          <p-selectButton [options]="players" optionLabel="name" formControlName="dealer" (onChange)="setFramePlayers($event)"
          ></p-selectButton>
        </div>
        <h4>Type de jeu</h4>
        <p-treeSelect [options]="typesGame" formControlName="typeGame" selectionMode="single"></p-treeSelect>
        <app-info-points-partie [data]="getInfoPoints()"></app-info-points-partie>

        <h4>Joueur(s)</h4>
        <div class="p-field" *ngIf="isAlone()">
          <p-dropdown [options]="framePlayers" optionLabel="name" formControlName="players" placeholder="Sélection du joueur" ></p-dropdown>
        </div>
        <div class="p-field" *ngIf="!isAlone()">
          <p-multiSelect inputId="player" [options]="framePlayers"  (onChange)="checkValidity()" optionLabel="name"
                         placeholder="Sélection des 2 joueurs" formControlName="players"></p-multiSelect>
        </div>
        <div class="buttons">
          <button pButton label="Réussite" icon="pi pi-check-circle" iconPos="right" class="p-button-outlined p-button-success" [disabled]="form.invalid" ></button>
          <button pButton label="Echec" icon="pi pi-times-circle" iconPos="right" class="p-button-outlined p-button-danger" [disabled]="form.invalid" ></button>

        </div>
      </form>
    </ng-container>
  </ng-container>
  <p-confirmDialog #cd  [style]="{width: '90vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined">
  </p-confirmDialog>

</p-card>
