<ng-container *ngIf="currentGame">
  <p-card header="Partie du {{currentGame.created | date : 'dd MMMM YYYY'}}" [style]="{width: '100%', margin: '0 auto'}"
          styleClass="p-card-shadow">

    <h3>Manches</h3>
    <p-knob [(ngModel)]="currentGame.currentFrame" [max]="currentGame.framesNumber" name="Nombre de manches jouées"
            valueTemplate="{value}/{{currentGame.framesNumber}}">

    </p-knob>
    <ng-container *ngIf="currentGame.currentFrame === 0">
      <h3>Sélection du donneur</h3>
      <p-selectButton [options]="currentGame.players" optionLabel="name"
                      (onChange)="setDealer($event)"></p-selectButton>
      <br/>
      <p-button label="lancer la première manche" [disabled]="!dealer" (onClick)="launchFrame()"
                icon="pi pi-angle-right" iconPos="right" styleClass="p-button-success"></p-button>

    </ng-container>
    <app-totaux-partie *ngIf="showGame" [players]="currentGame.players" [frames]="currentGame.frames"></app-totaux-partie>
    <app-frame *ngIf="showGame" [players]="currentGame.players" [frames]="currentGame.frames"></app-frame>

    <router-outlet></router-outlet>
  </p-card>
</ng-container>
<ng-container *ngIf="!currentGame">
  <p-card>
    <h3>Aucune partie en cours ...</h3>
  </p-card>
</ng-container>
