<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">
      Nombre de manches de la partie
    </ng-template>
    <ng-template pTemplate="subtitle">
      Choisissez un nombre de manches qui vont composer la session de Wist
    </ng-template>
    <ng-template pTemplate="content">
      <div class="p-fluid" [formGroup]="form">
        <div class="p-field">
          <p-dropdown inputId="player" [options]="nombreParties" (onChange)="checkValidity()" optionLabel="name" placeholder="" formControlName="nombreParties"></p-dropdown>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter flex">
        <p-button label="Précédent" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <p-button label="Suivant" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>

