<p-card header="WIST {{today | date : 'YYYY'}}" subheader="Gestion du groupe de Wist" [style]="{width: '100%', margin: '0 auto'}" styleClass="p-card-shadow">
  <p><u><b>Objectif</b></u> : arriver 1er à 50 points<br><u><b>Comment ?</b></u> en participant au tournoi ouvert de Wist</p>

  <div class="infos">
    <p-card header="Tableau des résultats" class="infos-card">
      <p-table [value]="players" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Nom</th>
            <th>Total</th>
            <th>Parties</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-player>
          <tr>
            <td>{{player.name}}</td>
            <td style="font-weight: 600">{{player.totalPoints}}</td>
            <td>{{player.nombrePartiesJouees}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
    <p-card header="Parties jouées" class="infos-card"></p-card>
    <p-card header="Règles" class="infos-card"></p-card>
  </div>
<!--  <ng-template pTemplate="header">-->
<!--    <img src="assets/images/cartes.webp" class="p-mr-2">-->
<!--  </ng-template>-->
</p-card>

